/CheckingDetails.class
/HomeFile.class
/LogInFile.class
/ProfileFile.class
/ProvideBankAccount.class
/SettingsFile.class
/SignInFile.class
/features.class
/getUserBankRelatedDetailes.class
/viewUsrBankReletedDetailes.class
